body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(82, 194, 82);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40%;
  height: 50%;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(63, 61, 61);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form_container input {
  background-color: ghostwhite;
  border: none;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form_container input:focus {
  background-color: rgb(243, 243, 244);
  outline: 1px solid rgb(141, 194, 141);
  box-shadow: 1px 1px 5px rgb(120, 150, 120);
}

.form_container .login-button {
  background-color: rgb(18, 156, 57);
  color: rgb(233, 233, 233);
  border: none;
  padding: 1rem;
  cursor: pointer;
  margin-top: 1.25%;
}

.form_container .login-button:focus {
  background-color: rgb(15, 130, 47);
  box-shadow: 1px 1px 5px rgb(120, 150, 120);
}

.form_text {
  color: rgb(148, 147, 147);
}

.create_account {
  text-decoration: none;
  color: rgb(101, 192, 181);
}

.create_account:focus {
  text-decoration: underline;
}

.verify{
  width: 99%;
  height: 20%;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: rgb(224, 172, 172);
  color: red;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(211, 144, 144);
  display: none;
}

.exit-box{
  background-color: rgb(224, 37, 37);
  color: white;
  cursor: pointer;
  align-self: flex-start;
  border: none;
}

.exit-box:focus{
  transform: scale(1.1);
  background-color: rgb(211, 133, 133);
}

@media (max-width: 1000px) {
  .container {
    background-color: rgb(93, 216, 93);
    width: 100%;
    height: 100%;
  }

  .form_container {
    height: 30%;
    justify-content: space-evenly;
  }

  .form_container input:focus {
    background-color: rgb(243, 243, 244);
    outline: 1px solid rgb(8, 255, 8);
    box-shadow: 1px 1px 5px rgb(120, 150, 120);
  }

  .form_text {
    color: rgb(236, 235, 235);
  }

  .create_account {
    color: rgb(118, 236, 252);
  }
}
